$mainColor : #e87722;
$white : #fff;

// 공통 탑-헤더

header {
    height: 8.68rem;
    background-color: #fff;
    border-bottom: 1px solid #999;
}

#ssm-main-menu-desk {
    border-top: 1px solid #e9e9e9
}


.ssm-fix.menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
    background: #ffffff;
    -webkit-transition: top 1s;
    transition: top 1s;

    .top-header {
        display: none;
    }
}

.ssm-fix.menu_fixed_up {
    position: fixed;
    top: -3.75rem;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
    background: #ffffff;
    -webkit-transition: top 1s;
    transition: top 1s;

    .top-header {
        display: none;
    }
}

.ssm-menu-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .ssm-category-dropdown {
        button {
            padding: 0.75rem 1.875rem;
            border: none;
            // font-family: $font-family-Poppins;
            font-size: 0.875rem;
            background-color: #E37226;
            border-radius: 0.312rem;
            color: #fff;

            &:after {
                margin-left: 2.5rem;
                font-size: 1rem;
                vertical-align: 2px;
            }

            &::before {
                margin-right: 1.25rem;
                font-family: remixicon !important;
                content: "\EF31";
                font-size: 1rem;
            }
        }

        .dropdown-menu {
            transition: all 0s ease-in-out;
            width: 14.687rem;
            margin-top: 1.25rem;
            position: absolute;
            visibility: hidden;
            display: block;
            opacity: 0;
        }

        &:hover {
            .dropdown-menu {
                opacity: 1;
                visibility: visible;
                margin-top: 1px;
            }
        }
    }

    nav {
        padding: 0;

        ul {
            li {
                &:not(:last-child) {
                    margin-right: 1.562rem;
                }

                a {
                    // font-family: $font-family-Poppins;
                    font-size: 0.812rem;
                    color: #777;
                }
            }
        }
    }

    .ssm-calling {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-items: center;

        i {
            padding-right: 0.312rem;
            font-size: 1.25rem;
        }

        a {
            font-size: 0.937rem;
            font-weight: 500;
        }
    }
}

.top-header {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: row;
    grid-gap: 0.625rem;
    justify-content: space-between;
    display: flex;
    position: relative;
    z-index: 4;

    .ssm-category-icon-block:hover .ssm-cat-dropdown {
        margin-top: 0;
    }

    .ssm-cat-dropdown {
        transition: 0s !important;
    }

    .ssm-cat-dropdown {
        transition: none !important;
    }

    .ssm-logo {
        img {
            height: 1.875rem;
            width: 100%;
            margin-top: 0.312rem;
        }
    }

    .ssm-search {
        position: relative;

        select {
            width: 8.125rem;
            height: calc(100% - 2px);
            border: 0;
            position: absolute;
            top: 1px;
            right: 2.812rem;
            font-size: 0.812rem;
            border-left: 1px solid #E37226;
            border-radius: 0;

            &:focus {
                box-shadow: none;
            }
        }

        input {
            width: 37.5rem;
            height: 2.812rem;
            padding-left: 0.937rem;
            padding-right: 0.937rem;
            border: 1px solid #E37226;
            border-radius: 0.312rem;
            outline: none;

            &::placeholder {
                // font-family: $font-family-Poppins;
                font-size: 0.812rem;
                color: #222;
            }
        }

        .search-btn {
            width: 3.8rem;
            background-color: #E37226;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border-top-right-radius: 0.312rem;
            border-bottom-right-radius: 0.312rem;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 0.875rem;
                color: #fff;
            }
        }
    }

    .ssm-right-bar {
        display: flex;

        ul.navbar-nav {
            li.nav-item {
                .dropdown-toggle {

                    &:after,
                    &:before {
                        display: none;
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    li {
                        a {
                            color: #777;
                            font-size: 0.812rem;
                            font-weight: 400;
                            cursor: pointer;

                            &:hover {
                                color: #E37226;
                            }
                        }
                    }
                }
            }
        }

        .ssm-right-bar-item {
            transition: 0.3s ease-in-out;
            display: flex;
            align-items: center;
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;

            &:not(:last-child) {
                padding-right: 1.875rem;
            }

            &:hover {
                color: #E37226;

                span {
                    color: #E37226;
                }
            }

            span {
                  -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                  font-family: "Poppins, sans-serif";
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                font-weight: 500;
                color: $black;
            }

            span.circle {
                     width: 1.25rem;
                     height: 1.25rem;
                     background-color: red;
                     color: rgb(255, 255, 255);
                     border-radius: 100%;
                     top: 1.25rem;
                     right: 7.5rem;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     font-size: 0.75rem;
            }

            i {
                padding-right: 0.312rem;
                font-size: 1.3125rem;
                line-height: 1.0625rem;
            }
        }
    }
}

.ssm-category-menu .ssm-category-toggle {
    height: 3.281rem !important;
    border: none !important;
}

.ssm-category-menu .ssm-category-toggle {
    width: 100%;
    height: 2.1875rem;
    border: 1px solid #e87722;
    background-color: #e87722;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;

    i {
        color: #fff;
    }

}

.ssm-cat-dropdown {
    padding: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    z-index: 10;
    border-radius: 0.3125rem;
    -webkit-box-shadow: 2px 2px 0.9375rem 0 rgba(0, 0, 0, 0.071);
    box-shadow: 2px 2px 0.9375rem 0 rgba(0, 0, 0, 0.071);
    border: 1px solid #e9e9e9;

    .ssm-cat-tab {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
        border-bottom: 1px soli d#e9e9e9;

        .ssm-tab-list {
            min-width: 11.25rem;
            margin-right: 1.5rem;
            border-radius: 0.3125rem;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        button,
        a {
            padding: 0.625rem 0.9375rem;
            background-color: #fff;
            font-size: 0.812rem;
            color: #4b5966;
            font-weight: 500;
            text-align: left;
            text-transform: capitalize;
            border: 1px solid #e9e9e9;
            border-radius: 0.3125rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        button:not(:last-child),
        a:not(:last-child) {
            margin-bottom: 0.3125rem;
        }

        button i,
        a i {
            margin-right: 0.625rem;
            font-size: 1.125rem;
            line-height: 0;
        }

        button.active {
            color: #E37226;
            background-color: #fff;
            border-color: #E37226;

            i {
                color: #E37226;
            }
        }

        .tab-content {
            width: 100%;

            .tab-list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                .col ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li a {
                        height: auto;
                        padding: 0.3125rem 0;
                        color: #777;
                        text-transform: capitalize;
                        line-height: 1.625rem;
                        font-weight: 400;
                        font-size: 0.812rem;
                        display: block;
                        border: 0;
                    }
                }
            }

            .ssm-col-title {
                height: auto;
                margin-bottom: 0.625rem;
                padding-bottom: 0.3125rem;
                color: #E37226;
                font-size: 0.9375rem;
                font-weight: 500;
                line-height: 1.875rem;
                text-transform: capitalize;
                display: block;
                border-bottom: 1px solid #e9e9e9;
            }

            > :active {
                display: block;
            }
        }
    }
}


// 메가메뉴

.megaMenu {
    top: 100%;
    left: 0!important;
    width: 100%;
    max-width: 58.125rem;
    background-color: $white;
    padding-left: 0;
    transition: all 0s;

    .ssm-cat-block {
        padding: 0 0.3125rem 0 0;
        position: absolute;
        left: 0;
      
    }

    .ssm-cat-block::-webkit-scrollbar {
        display: none;
    }

    .ulWrapper {
        width: 100%;

        ul {
            padding-left: 0 !important;
            padding-bottom: 1.25rem;
            


            li {
                list-style: none;
            }
        }

        .first {
            width: 46%;
            margin-right: 0;

            ul {

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 0;

                    &:hover {

                        a {
                            background-color: $mainColor;
                        }


                        button {
                            color: $white;
                        }

                        i {
                            color: $white;
                        }
                    }

                    a {
                        width: 100%;
                        background: transparent;
                    }

                    button {
                        margin-bottom: 0;
                        ;
                        font-size: 0.875rem;
                        font-weight: 600;
                        width: 100%;
                        text-align: left;
                        background: transparent;
                        border: none;

                    }
                }
            }
        }

        .second {
            width: 100%;
            padding: 0;

            li {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-bottom: 1px solid #F0F0F0;



                &:hover {
                    button {
                        background-color: #555;
                        color: $white;
                        border-color: $white;
                    }

                }

                a {
                    width: 100%;
                    padding-top: 0 !important;
                }

                button {
                    font-size: 0.875rem;
                    width: 100%;
                    text-align: left;
                    padding: 0.9375rem 0.625rem;
                    border: none;
                    background-color: transparent;
                    border-radius: 0;


                    i {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .third {
            width: 100%;
            padding: 0;

            li {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-bottom: 1px solid #F0F0F0;


                &:hover {

                    button {
                        background-color: #555;
                        color: $white;
                    }

                }

                a {
                    width: 100%;
                    padding-top: 0 !important;
                }

                button {
                    font-size: 0.875rem;
                    width: 100%;
                    text-align: left;
                    border-radius: 0;
                }
            }
        }

    }

    .brandWrapper {

        width: 40%;

        .brand {
            padding-top: 0.625rem;


            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    list-style: none;
                    width: 49%;
                    margin-bottom: 0.625rem;

                    &:hover {
                        button {
                            background-color: $mainColor;
                            border-color: $mainColor;
                            color: #fff
                        }
                    }

                    a {
                        padding: 0;
                    }


                    button {

                        width: 100%;
                        padding: 0.3125rem 0;
                        border-radius: 0.3125rem;
                        font-size: 0.875rem;
                        justify-content: center;

                    }
                }
            }
        }
    }

}

.ssm-menu-list {
    justify-content: flex-start;
    align-items: center;

    .navbar-expand-lg.col-8 {
        justify-content: space-between !important;
    }

    .nomo {
        display: none;
        margin-bottom: 0;
    }


}

#navbarSupportedContent {
    padding: 0.625rem 1.562rem;
    margin-right: 1.562rem;

    &::-webkit-scrollbar {
        display: none !important;
    }

    a {
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 0.9375rem;
        height: 100%;
        font-family: unset !important;
        color: #777 !important;
        padding: 0 !important;

        button {
            border: none;
            background-color: transparent;
            padding: 0.3125rem 0.625rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 12.5rem;
            transition: 0.5s;
            font-weight: bold;

            &:hover {
                color: #e87722 !important;
            }
        }
    }
}

.ssm-menu-list nav {
    #navbarSupportedContent {
        ul {
            li:not(:last-child) {
                margin-right: 0.3125rem;
            }
        }
    }
}


/* Category Toggle */

.ssm-category-icon-block {
    padding: 0;
    position: static !important;

    &:hover .ssm-cat-dropdown {
        margin-top: 0px;
        opacity: 1;
        visibility: inherit;
    }
}

.ssm-category-menu {
    position: relative;

    .ssm-category-toggle {
        border-radius: 0.3125rem;
        opacity: 1;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        i {
            font-size: 1.375rem;
            color: #fff;
            margin-right: 0.5rem;

            line-height: 0.875rem;
            display: block;

            &.ri-arrow-down-s-line {
                position: absolute;
                right: 0.3125rem;
            }
        }

        .ssm-category-toggle {
            width: 100%;
            min-height: 3.125rem;
            padding: 0 0.9375rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #E37226;
            border-radius: 0.3125rem;
            cursor: pointer;

            .ssm-angle {
                font-size: 1.125rem;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                position: absolute;
                right: 0.9375rem;
                line-height: 0;
            }
        }
    }
}

// 모바일 메뉴

.ssm-sidebar-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 21;
}

.ssm-side-cart {
    z-index: 10000 !important;

    ul {
        li {
            a {
                color: #444 !important;
            }
        }
    }
}

#ssm_mobile_menu::-webkit-scrollbar {
    display: none !important;
}

.ssm_mobile_menu {
    display: none !important;
}

.ssm-side-cart {
    transition: all 0.5s ease;
    width: 25rem;
    height: 100%;
    padding: 0.9375rem;
    position: fixed;
    top: 0;
    left: -25rem;
    background-color: #fff;
    z-index: 22;
    overflow: auto;

    .ssm-menu-title {
        width: 100%;
        margin-bottom: 0.625rem;
        padding: 0 0 0.625rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 2px solid #e9e9e9;

        .menu-title {
            font-size: 1.125rem;
            font-weight: 600;
            color: #E37226;
        }

        .ssm-close {
            position: relative;
            border: 0;
            font-size: 1.875rem;
            line-height: 1;
            color: #999;
            background-color: #fff;
        }
    }

    .ssm-menu-box {
        height: 2.812rem;
        width: 100%;
        margin: 0;
        padding: 0 0.625rem;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #eee;

        &::placeholder {
            text-transform: capitalize;
            font-size: 0.9375rem;
            font-weight: 500;
            color: #444;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            position: relative;
            line-height: 1.75rem;

            a {
                padding: 0.75rem 0;
                display: block;
                text-transform: capitalize;
                font-size: 0.9375rem;
                font-weight: 500;
                color: #444;
                text-decoration: none;
                border-bottom: 1px solid #e9e9e9;
            }

            .menu-toggle {
                height: 3rem;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: transparent;

                &::before {
                    content: "+";
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #777;
                }

                i {
                    transition: all 0.5s ease 0s;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.75rem;
                    color: #444;
                }
            }

            .sub-menu {
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                box-shadow: none;
                transition: none;
                display: none;
                min-width: auto;
                position: static;
                top: auto;
                visibility: visible;
                opacity: 1;

                li {
                    a {
                        padding-left: 1.25rem;
                        transition: 0.3s ease-in-out;
                        opacity: 0.8;
                        font-size: 0.875rem;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.ssm-menu-open {
    left: 0 !important;
}

.navbar-collapse {
    display: none;
}

.ssm-sidebar-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 21;
}

.dark-logo {
    display: none;
}

.logo {
    display: block;
}

.ssm-header-buttons {
    display: none;

    a {
        margin-right: 1rem;
        transition: 0.3s ease-in-out;

        i {
            font-size: 1.25rem;
        }

        &:hover {
            color: #E37226;
        }
    }
}




/* Cart Sidebar */

.ssm-cart-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.ssm-cart-view-active {
    right: 0 !important;
}

.ssm-cart-view {
    height: 100%;
    position: fixed;
    top: 0;
    right: -21.875rem;
    z-index: 10000;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #000;

    .ssm-cart-inner {
        width: 21.875rem;
        height: 100%;
        margin: 0;
        padding: 0 1.25rem;
        background-color: #fff;
        position: relative;
        z-index: 9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .ssm-cart-top {
            .ssm-cart-title {
                margin-bottom: 0.9375rem;
                padding: 0.9375rem 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-bottom: 1px solid #e9e9e9;

                h6 {
                    margin: 0;
                    font-size: 1.06rem;
                    font-weight: 700;
                    color: #2b2b2d;
                }

                button {
                    color: #fb5555;
                    font-size: 1.25rem;
                    font-weight: 800;
                    background: none;
                    border: none;
                }
            }

            ul.crcart-pro-items {
                margin: 0;
                padding-left: 0;
                list-style: none;

                li {
                    margin-bottom: 1.25rem;
                    padding-bottom: 1.25rem;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    overflow: hidden;
                    border-bottom: 1px solid #e9e9e9;

                    .crside_pro_img {
                        margin: auto;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 20%;
                        flex: 1 0 20%;

                        img {
                            max-width: 100%;
                            border-radius: 0.3125rem;
                        }
                    }

                    .ssm-pro-content {
                        padding-left: 0.9375rem;
                        position: relative;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 70%;
                        flex: 1 0 70%;
                        overflow: hidden;

                        .cart_pro_title {
                            width: 100%;
                            padding-right: 1.875rem;
                            text-decoration: none;
                            color: #777;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                            font-size: 0.9375rem;
                            line-height: 1.125rem;
                            font-weight: 400;
                        }

                        .ssm-cart-qty {
                            margin-top: 0.3125rem;

                            .cart-qty-plus-minus {
                                margin: 0;
                            }
                        }

                        .cart-price {
                            margin-top: 0.3125rem;
                            font-size: 0.875rem;
                            display: block;

                            span {
                                color: #777;
                                font-weight: 700;
                                font-size: 1rem;
                            }
                        }

                        .remove {
                            padding: 0 9px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 1.06rem;
                            line-height: 0.9375rem;
                            background-color: #fff;
                            color: #fb5555;
                        }
                    }
                }
            }
        }

        .ssm-cart-bottom {
            position: relative;
            top: -1.25rem;

            .cart_btn {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

            .cart-sub-total {
                margin: 1.25rem 0 0.625rem 0;
                padding-top: 0;
                padding-bottom: 8px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                border-top: 1px solid #e9e9e9;

                table {
                    margin: 0.625rem 0 0 0;

                    tr {
                        td {
                            border: none;
                        }

                        .text-right {
                            font-weight: 700;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.cart-qty-plus-minus {
    width: 5rem;
    height: 1.875rem;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 0.3125rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    input {
        width: 1.875rem;
        margin: 0;
        padding: 0;
        background: transparent none repeat scroll 0 0;
        color: #444;
        border: medium none;
        float: left;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 38px;
        height: auto;
        text-align: center;
        outline: none;
    }

    button {
        height: 1.562rem;
        width: 1.562rem;
        margin-top: -2px;
        border: none;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}



@media screen and (max-width: 1200px) {
        .ssm-fix {
            .container {
                max-width: 100vw;
            }
        }

         .ssm-category-icon-block {
             display: none;
         }

         .ssm-calling {
             display: none!important;
         }
}


@media screen and (max-width: 700px) {
    .ssm-right-bar {
        display: none!important;
    }

    .ssm-fix {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 10;
        box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
        background: #ffffff;
        transition: top 1s;

        &.menu_fixed {
            top: 0;

            .top-header {
                display: none;
            }
        }

        &.menu_fixed_up {
            top: -3.75rem;

            .top-header {
                display: none;
            }
        }
    }

    .top-header {
        .ssm-logo {
              margin-bottom: 0.8rem;
              display: flex;
              justify-content: center;
            img {
                 width: 50%!important;
                 margin-top: 0.833rem;
                 margin-bottom: 0.833rem;
                 height: 2.5rem;
            }
        }
    }

    #navbarSupportedContent {
        ul::-webkit-scrollbar {
            display: none !important;
        }
    }

    .ssm-menu-list {
        padding: 0.833rem 0 !important;

        .navbar-expand-lg.col-8 {
            padding-left: 0 !important;
            flex-wrap: nowrap !important;
            justify-content: flex-start !important;
        }

        #navbarSupportedContent {
            border-right: none;
            overflow-x: scroll;
            padding: 0;
            margin-left: 0.833rem;
            margin-right: 0 !important;

            ul {
                flex-direction: row !important;
                overflow-x: scroll;
            }

            li {
                margin-right: 0 !important;
            }

            a {
                font-weight: bold;
                display: block;
                width: 100%;
                font-size: 1rem;
                height: 100%;
                font-family: unset !important;
                color: #777 !important;
                padding: 0 !important;

                button {
                    border: none;
                    background-color: transparent;
                    min-width: 5rem;
                }
            }
        }
    }

    .ssm_mobile_menu {
        display: block;
    }

    .ssm-menu-list {
        nav {
            width: 100%;
        }
    }

    #ssm_mobile_menu {
        .ssm-menu-content {
            .nav-item {
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        align-items: center;
                        font-weight: bold;
                        font-size: 1rem;
                    }
                }

                ul {
                    li {
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            button {
                                font-weight: 500;
                            }

                            span {
                                margin-right: 0.45rem;
                                font-size: 1rem;
                            }

                            i {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }

        .ssm-menu-content .nav-item ul li a {
            font-size: 1.166rem !important;
        }
    }

    .ssm-side-view {
        display: none;
    }

    header {
        height: 14.416rem;
    }

    .top-header {
        padding: 1.25rem 0;
        display: block;

        .ssm-search {
            max-width: 29.166rem;
            margin: auto;

            input {
                width: 100%;
                max-width: 25rem;
            }
        }

       
    }

    .ssm-side-cart {
        width: 25rem;
        left: -25rem;
    }

     .ssm-side-cart {
         width: 100vw;
         left: -100%;
     }

     .ssm-side-cart ul li a {
         padding: 0.833rem 0;
     }

    ul.navbar-nav .dropdown:hover .dropdown-menu {
        margin-top: 0;
    }

     .labelMenu {
         padding: 1.666rem 0 0 0;

         ul {
             display: flex;
             justify-content: flex-start;
             flex-wrap: wrap;
             gap: 1%;

             li {
                 width: 32%;
                 margin-bottom: 0.333rem;

                 a {
                     font-size: 1rem;
                     text-align: center;
                     padding: 0 !important;

                     border: 1px solid #ddd;

                     button {
                         background-color: transparent;
                         border: none;
                         color: #222;
                         width: 100%;

                     }
                 }
             }

         }
     }

}


@media screen and (max-width: 375px) {

.top-header 
{
    flex-direction: column!important;
    .ssm-right-bar {
        display: none;
    }

    .ssm-logo img {
        height: 2rem !important;
        margin-top: 0.625rem;
        margin-bottom: 0.85rem;
        width: 50% !important;
    }

    .ssm-search {
        input {
            width: 100%!important;
        }
    }
}

#navbarSupportedContent {
    button {
        max-width: 16.66rem;
        padding: 0.416rem 0.833rem;
        font-size: 1rem;
    }
}

#navbarSupportedContent .labelMenu {
    padding: 1.25rem 0 0 0;

    ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1%;

        li {
            width: 48% !important;
            margin-bottom: 4px;

            a {
                font-size: 0.75rem;
                text-align: center;
                padding: 0 !important;
                border: 1px solid #222;

                button {
                    background-color: transparent;
                    border: none;
                    color: #222;
                    width: 100%;
                }
            }
        }
    }
}

.navbar-toggler i {
    font-size: 1.125rem !important;
}

.ssm-menu-list nav ul {
    width: 100%;
    margin-right: 1.25rem;

    li:not(:last-child) {
        margin-right: 0.625rem !important;

        a {
            font-size: 0.75rem;
        }
    }

    li:last-child a {
        font-size: 0.75rem;
    }

    li a {
        font-size: 0.8125rem !important;
    }
}


}